*{
  color:white;
  background-color:black;
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0 auto;
  border: 1px solid white;
  border-radius: 80%;
  
  } 

  
  .width-wrap {
    margin: 0 auto;
  }
  footer {
    padding: 1em;
    margin: 1em;
    width: 300px;
    
  }
  
 a {
  text-decoration: none;
  color:whitesmoke;
 }
 .profile_photo {
  border-radius: 50%;
 }
  .small-image {
    max-width: 40%; 
  }

  
  nav {
    display: flex;
    justify-content: flex-start;

  }
  nav ul {
    list-style: none;
    display: flex;
    
  }
  nav li {
    font-size: 1.5em;
    padding-right: 20px;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color:whitesmoke;
  }
  

  nav li::after{
    content:'';
    display:block;
    width: 0;
    height:3px;
    background: burlywood;
    transition: width 0.5s;
  }

  nav li:hover::after {
    width: 75%; 
    
  }
  
  nav li:hover{
    transform: scale(1.2);
    transform: transform 0.5s;
    transform: translateX(3px) translateY(3px)
  }

 a:hover{
    color: #450736;
    
  }

