body { 
    margin: 0;
    padding: 0;
}

nav {
    margin: 2em;
    display:flex;
    justify-content: center;
}

a {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    display:flex;
    gap: 2em;
    margin: 0; 
    font-size: 2em;
}