  html{
  background-color: #191527;
  color:whitesmoke;
  }
  
 a {
  text-decoration: none;
 }
 .profile_photo {
  border-radius: 80%;
 }
  .small-image {
    max-width: 15%; 
    height: auto; 
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    list-style: none;
    display: flex;
    
  }
  nav li {
    font-size: 2em;
    padding-right: 20px;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color:white;
  }
  
  .content {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  .content .left-content, .right-content{
    border-radius: 25px;
    background-color:#5f0c5f;
    max-width: 45%;
    border: #380938 solid;
    margin:10px;
    padding: 10px;
   
  }


  .center-content {
    
    text-align: center;
    padding: 20px; 
    margin: 20px;
  
  }


  nav li::after{
    content:'';
    display:block;
    width: 0;
    height:3px;
    background: burlywood;
    transition: width 0.5s;
  }

  nav li:hover::after {
    width: 75%; 
    
  }
  
  nav li:hover{
    transform: scale(1.2);
    transform: transform 0.5s;
    transform: translateX(3px) translateY(3px)
  }

 a:hover{
    color: maroon;
    
  }

