<div class="about-container">
  <span class="about-me">About Me</span>
  <img src="assets/my_photo1.jpg" alt="Vic" class="about-image">
  <p>Hi, I’m Vic, an aspiring,
    soon-to-be software developer with a knack for problem-solving.
    Passionate about turning challenges into opportunities and crafting solutions that make a difference.
  </p>

<!--  <h2>Skills</h2>-->
<!--  <ul>-->
<!--    <li>Programming: Experienced in building robust applications</li>-->
<!--    <li>Web Development: Skilled in crafting intuitive web experiences</li>-->
<!--    <li>Tools: Git, Docker, VS Code, IntelliJ IDEA</li>-->
<!--    <li>Problem Solving: Analytical and detail-oriented</li>-->
<!--    <li>Collaboration: Effective team player</li>-->
<!--  </ul>-->

<!--  <h2>Education</h2>-->
<!--  <p>Computer Programming (expected April 2025)<br>-->
<!--    Sault College, ON | 2023 – Present</p>-->
<!--  <p>BSc in Computer Science<br>-->
<!--    STI College, Philippines | 2006 – 2009</p>-->
</div>
