<div class="about-container">
  <div class="about-container1"><img src="assets/bg-image1.jpg" alt="Vic" class="about-image">
  </div>
  <div class="about-container2">
    <h2>Tech Stack / Skills</h2>
    <ul>
      <li><strong>Language:</strong> Java, Python, HTML, CSS, JavaScript, TypeScript</li>
      <li><strong>Framework:</strong> Spring, Angular, RESTful API</li>
      <li><strong>Database:</strong> MySQL, MongoDB, MongoDB Atlas, SQLite</li>
      <li><strong>Tools:</strong> IntelliJ IDEA, Visual Studio Code, Docker, Git/GitHub</li>
      <li><strong>Deployment:</strong> Render, Netlify</li>
      <li><strong>OS:</strong> Windows / Linux</li>
    </ul>
  </div>
</div>
