<div class="about-container">
  <div class="about-container1"><img src="assets/my_photo1.jpg" alt="Vic" class="about-image">
    <p class="about-intro">Hello, I’m Vic, an almost-software-developer with a talent for problem-solving and a love for making the impossible possible. I’m here to turn roadblocks into stepping stones and craft solutions that are as clever as they are effective.
    </p>
  </div>

  <div class="about-container2">
    <h2>Skills</h2>
    <ul>
      <li><strong>Languages:</strong> Java, JavaScript, TypeScript, HTML, CSS</li>
      <li><strong>Frameworks:</strong> Spring Boot, Angular</li>
      <li><strong>Databases:</strong> MySQL, MongoDB</li>
      <li><strong>Tools:</strong> IntelliJ IDEA, Visual Studio Code, Git, Docker</li>
      <li><strong>Web Development:</strong> RESTful APIs, Front-end Development, Responsive Design</li>
      <li><strong>Problem-Solving:</strong> Analytical Thinking, Debugging, Solution Crafting</li>
      <li><strong>Deployment:</strong> Heroku, Render, Netlify</li>
    </ul>
  </div>



<!--  <h2>Education</h2>-->
<!--  <p>Computer Programming (expected April 2025)<br>-->
<!--    Sault College, ON | 2023 – Present</p>-->
<!--  <p>BSc in Computer Science<br>-->
<!--    STI College, Philippines | 2006 – 2009</p>-->
</div>
