:root {
  --body-background-color: #07020b;
  --body-background-color2: #1A1A1A;
  --purple-accent: #552583;
  --yellow-accent: #fdb927;
  --for-header: #2C2C2C;
  --for-text: #E0E0E0;
  --blue-accent: #4A90E2;
  --for-highlight: #F5A623;
}

.nav-container {
  display:flex;
  flex-direction: column;
  position:fixed;
  right: 0;
  top: 0;
  text-align:right;
  padding: 1rem;
  margin: 2%;
  z-index: 1000;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li a {
  text-shadow: var(--purple-accent) 1px 1px 1px;
  text-decoration: none;
  color:inherit;
  display:inline-block;
  margin: 0.3rem 0;
}
.menu-toggle {
  display: none;
}

/* Hamburger */
.hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: var(--for-highlight);
  position: absolute;
  right: 15%;
}

.hamburger span::before,
.hamburger span::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: var(--for-highlight);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.hamburger span::before {
  top: -8px;
  left: 0;
}

.hamburger span::after {
  top: 8px;
  left: 0;
}

.menu-toggle:checked + .hamburger span {
  background-color: transparent;
}

.menu-toggle:checked + .hamburger span::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle:checked + .hamburger span::after {
  transform: rotate(-45deg);
  top: 0;
}

.menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}
.menu-toggle:checked ~ .menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu ul {
    display: flex;

  }
  .menu ul li {
    margin: 0 1rem;
    font-size: large;
  }
  .menu-toggle {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
