<h1>My Projects</h1>
<ul class="cards-wrapper">
  <div class="card-wrapper">
    <li class="card1">
      <a href="https://victorfelipejr.com/" target="_blank">
        <img src="assets/code1-bg.jpg" alt="stock photo">
      </a>
      <a href="https://victorfelipejr.com/" target="_blank">
        <p><span style="font-weight: bold"><span style="color:#F5A623">this.</span>Website</span><br><br>
        My Portfolio Website<br>Angular Framework<br>HTML, CSS, TypeScript
        <br><br>
        Deployed on Github x Netlify</p>
      </a>
    </li>
  </div>
  <div class="card-wrapper">
    <li class="card1">
      <a href="https://stocks.victorfelipejr.com/" target="_blank">
        <p><span style="font-weight: bold">Stocks Tracker App</span><br><br>
          Java, Spring Framework<br>
          MongoDB<br>
          RapidAPI<br><br>
          Deployed on MongoDB Atlas x Render
        </p>
      </a>
      <a href="https://stocks.victorfelipejr.com/" target="_blank">
        <img src="assets/stock-market-bg.jpg" alt="stock photo">
      </a>
    </li>
  </div>


</ul>
