.waviy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #fdb927;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}


