@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --body-background-color: #07020b;
  --body-background-color2: #1A1A1A;
  --purple-accent: #552583;
  --yellow-accent: #fdb927;
  --for-header: #2C2C2C;
  --for-text: #E0E0E0;
  --blue-accent: #4A90E2;
  --for-highlight: #F5A623;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  overflow-y:hidden;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: var(--body-background-color2);
  color: var(--for-text);
  font-family: 'open sans', sans-serif;
}
nav {
  display:none;
}


.mobile-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--for-header);
}

.mobile-nav ul li {
  height: 3rem;
  width: 10%;
  padding: 5px;
}

/* paragraph styling */

.blue {
  color: var(--blue-accent);
}
.highlight {
  color: var(--for-highlight);
}


/* non-mobile styling */

@media screen and (min-width: 769px) {
  html, body {
    overflow: auto;
  }

  .mobile-nav {
    display: none;
  }
  nav {
    display:flex;
    position: sticky;
    justify-content: flex-end;
    padding: 1em;
  }
  nav ul li {
    display: inline;
    padding: 1em;
  }
  nav .meHome {
    position: absolute;
    left: 10%;
    font-size: large;
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
  }

  .pPhoto {
    width: 40%;
    padding: 1em;
    border-radius: 30px;

  }
  .myIntro{
    width: 50%;
    padding: 1em;
  }
}

