/* Base Styling */
:root {
  --body-background-color: #07020b;
  --body-background-color2: #1A1A1A;
  --purple-accent: #552583;
  --yellow-accent: #fdb927;
  --for-header: #2C2C2C;
  --for-text: #E0E0E0;
  --blue-accent: #4A90E2;
  --for-highlight: #F5A623;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--for-text);
}

html, body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--body-background-color2);
  color: var(--for-text);
  font-family: 'Fira Code', monospace;
  scroll-behavior: smooth;
}

.blue {
  color: var(--blue-accent);
}

.highlight {
  color: var(--for-highlight);
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  font-size: 0.5rem;
  background-color: var(--for-header);
  color: var(--for-text);
}

/* Snap Scrolling */
.content-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-x:hidden;
  overflow-y: scroll;
  padding: 1.5rem;

}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem;
}

img {
  max-width: 450px;
  max-height: 450px;
}
