/* Base Styling*/
:root {
  --body-background-color: #07020b;
  --body-background-color2: #1A1A1A;
  --purple-accent: #552583;
  --yellow-accent: #fdb927;
  --for-header: #2C2C2C;
  --for-text: #E0E0E0;
  --blue-accent: #4A90E2;
  --for-highlight: #F5A623;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--for-text);
}


html, body {
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
  background-color: var(--body-background-color2);
  color: var(--for-text);
  font-family: 'Fira Code'  , monospace;
}

/* paragraph styling */

.blue {
  color: var(--blue-accent);
}
.highlight {
  color: var(--for-highlight);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--for-header);
  color: var(--for-text);
}
