.mobile-header{
  display: none;
}
@media (max-width: 768px) {
  .container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container h1 {
    font-size: medium;
    width: 80vw;
    padding: 1.5rem;

  }
  .container img {
    width: 80vw;
    border-radius: 5%;

  }
  .mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-size: max(1.5rem, 2.5vw);

  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;

}
