* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  color: #c5a363;
  background-color:black;
  font-family: 'Montserrat', sans-serif;
}
html, body {
  max-width: 100%;
  overflow-x:hidden;
}

.width-wrap {
  max-width: 800px;
  margin: 2em auto; 
}
main img {
  width: 500px;
  margin: 0 auto;
}
p {
  display:block;
  margin: 0 auto;
  padding: 0 2em;
}
/* Mobile Nav */
.mobile-nav {
  display:block;
  opacity: 0;
  position:absolute;
  top: 2.5em;
  right: -2px;
  font-weight:bold;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

nav ul, a, main ul li, .mobile-nav ul, .mobile-nav li{
  list-style-type: none;
  text-decoration: none;
}

header {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3em;
  margin-bottom: 5em;
}
.nav-toggle, .nav-toggle-label {
  display:none; 
}

.nav-toggle-label {
  position: relative;
  top: -15px;
  transition: transform 0.2s ease-in-out;
}
.nav-toggle-label span, 
.nav-toggle-label:before, 
.nav-toggle-label:after{
  display:block;
  background: #c5a363;
  height: 5px;
  width: 40px;
  border-radius: 5px;
  position:relative;
}
.nav-toggle-label:before, 
.nav-toggle-label:after {
content:'';
position: absolute;
}
.nav-toggle-label:before{
  top: 10px; 
  transition: transform 0.2s ease-in-out;

}
.nav-toggle-label:after{
  top: 20px;
  transition: transform 0.2s ease-in-out;
}

.nav-toggle:checked ~ .mobile-nav{
  display: block;
  opacity: 1;
  position: absolute;
  transform: translateX(-2em);
}

.nav-toggle:checked ~ .nav-toggle-label {
  transform: translateY(10px) rotate(45deg);  
}
.nav-toggle:checked ~ .nav-toggle-label::before {
  opacity: 0;
}
.nav-toggle:checked ~ .nav-toggle-label:after {
  transform: translateY(-20px) rotate(-90deg)
}

nav a::after{
  content: "";
  display: block;
  background-color: #c5a363;
  height: 5px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after{
  width: 100%;
}

nav ul {
  display:flex;
  gap: 2em;
}

nav ul li a{
  font-size: 2em;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 1em;
}
.container {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1em;
}
.container div {
  max-width: 300px; 
}
.container h2{
  padding-bottom: 0.5em;
}
.container ul li {
  padding-top: 1em;
}

hr {
  margin: 2em 0;
  height: 2px;
  background-color: #c5a363;
}
footer{
  display:flex;
  justify-content: space-between;
}
footer picture img {
  max-width: 80px;
}
footer .copyright {
  position:relative;
  margin: 0;
  padding-right: 1em;
}

dt::after{
  content:":";
}
dd {
  margin-left: 5em;
  margin-bottom: 2em;
  padding-top: 5px;
}

.logo {
  width: 120px;
  border-radius: 50%;
  position: relative;
}

::selection{
  background-color: blueviolet;
}


.back-to-top{
  position:fixed;
  bottom: 5px;
}

.back-to-top:hover{
  transform:scale(1.5);
}


/* Form Styling */

label {
  display: block;
  margin-top: 1em;
}

input[type="radio"]+label{
  display: inline-block;
  padding-left: 1em;   
}
select{
  display:inline-block;
  margin-bottom: 1em;
}
button[type="submit"] {
  border: none;
  padding: 1em 3em;
  background-color: #262626;
  color: bisque;
  border-radius: 15px;
  margin-top: 1em;
}

input:invalid {
  background-color: rgb(99, 27, 27);
}


/* Media Queries */

@media screen and (max-width:430px){
  
  .nav-toggle-label {
    display:block;
  }
  nav {
    display:none;
    padding: 0 2em;
  }
  .width-wrap{
    margin: 5px;
  }

  .logo {
    display:none;
  }
  img {
    max-width: 350px;
    height: 350px;
    padding: 0 1em;
    margin: 0 auto;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    display:block;
    padding:1em;
  }
}

.feedback-button {
  position:fixed;
  bottom: 10px;
  right: 1em;
  background-color: rgba(0,0,0,0.7);
}
.feedback-form {
  position:fixed;
  top: 30%;
  right: 5em;
  background-color: rgba(0,0,0,0.7);
}
.feedback-form label, input, textarea {
  background-color: rgba(0,0,0,0.1);
}

/* Initial State - Hidden */
.feedback-popup {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

/* Class to Show the Popup */
.visible {
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.social-media-icon {
  position:fixed;
  bottom: 10px;
  right: 6.5em;
}

.social-media-icon a img {
  width: 1.5em;
}
