* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  color: #c5a363;
  background-color:black;
  font-family: 'Montserrat', sans-serif;
}

.width-wrap {
  max-width: 800px;
  margin: 2em auto;  
}
img {
  width: auto;
}

.mobile-nav {
  display:none;
  position: absolute;
  top: 1.5em;
  right: 4em;
  
}

nav ul, a, main ul li, .mobile-nav ul, .mobile-nav li{
  list-style-type: none;
  text-decoration: none;
}

header {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3em;
  margin-bottom: 5em;
}
.nav-toggle, .nav-toggle-label {
  display:none;
}

.nav-toggle-label {
  position: absolute;
  top: 2em;
  right: 2em;

}
.nav-toggle-label span, 
.nav-toggle-label:before, 
.nav-toggle-label:after{
  display:block;
  background: #c5a363;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position:relative;
}
.nav-toggle-label:before, 
.nav-toggle-label:after {
content:'';
position: absolute;
}
.nav-toggle-label:before{
  bottom: 5px;
}
.nav-toggle-label:after{
  top: 5px;
}

.nav-toggle:checked ~ .mobile-nav{
  display: block;
}

nav a::after{
  content: "";
  display: block;
  background-color: #c5a363;
  height: 2px;
  width: 0;
  transition: width translateY scale 0.3s ease-in-out;
}

nav a:hover::after{
  width: 100%;
}
nav li:hover{
  transform: translateY(10px) scale(1.2)
}
nav ul {
  display:flex;
}

nav ul li {
  padding: 0em 1em;
  
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 1.5em;
}
.container {
  display:flex;
  justify-content: space-evenly;
 
}
.left li, .right li {
  padding: 0.5em 0;
  color: #a57e30;
 
}

hr {
  margin: 2em 0;
  height: 2px;
  background-color: #c5a363;
}
footer {
  display:flex;
  justify-content: space-between; 
  align-items: flex-end;
  padding: 0.5em;
  
}

dt::after{
  content:":";
}
dd {
  margin-left: 5em;
}

.logo {
  width: 120px;
  border-radius: 50%;
  position: relative;
}

::selection{
  background-color: blueviolet;
}




@media screen and (max-width:414px){
  
  .nav-toggle-label {
    display:block;
    
  }

  nav {
    display:none;
    padding: 0 2em;
  }
  .width-wrap{
    margin: 5px;
  }

  .logo {
    display:none;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    display:block;
    padding: 1em;
  }
}