* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  color: #c5a363;
  background-color:black;
}

.width-wrap {
  max-width: 800px;
  margin: 2em auto;  
}
img {
  width: auto;
}

nav ul, a, main ul li{
  list-style-type: none;
  text-decoration: none;
}

header {
  display:flex;
  justify-content: space-between;
  padding: 0 2em;
}

nav a::after{
  content: "";
  display: block;
  background-color: #c5a363;
  height: 2px;
  width: 0;
  transition: width translateY scale 0.3s ease-in-out;
}

nav a:hover::after{
  width: 100%;
}
nav li:hover{
  transform: translateY(10px) scale(1.2)
}
nav ul {
  display:flex;
}

nav ul li {
  padding: 0em 1em;
  
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 1.5em;
}
.container {
  display:flex;
  justify-content: space-evenly;
 
}
.left li, .right li {
  padding: 0.5em 0;
  color: #a57e30;
 
}

hr {
  margin: 2em 0;
  height: 2px;
  background-color: #c5a363;
}
footer {
  display:flex;
  justify-content: space-between; 
  align-items: flex-end;
  padding: 0.5em;
  
}

dt::after{
  content:":";
}
dd {
  margin-left: 5em;
}

.logo {
  width: 120px;
  border-radius: 50%;
  position: relative;
}

::selection{
  background-color: blueviolet;
}



@media screen and (max-width:400px){
 
  .logo {
    width: 50px;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    display:block;
  }
}